<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>JARD WD</title>
    <meta name="description" content="JARD - Web and App Development">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta http-equiv="Cache-control" content="private,max-age:31536000">

    {{content-for "head"}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{rootURL}}assets/vendor.css">
    <link rel="stylesheet" href="{{rootURL}}assets/octo-app.css">
<style>
/*nav*/

.material-icons.md-36 { 
  font-size: 36px; 
}

a {
  text-decoration: none;
}

nav {

}

ul {
  background: #fafafa;
    list-style: none;
    margin: 0;
    padding-left: 0;
    padding-right: 5px;
    font-size: 21px;

}

li {
    color: #090909;
  background: #fafafa;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
  transition-duration: 0.5s;
}
  
li a {
  color: #080808;
}

li:hover {
    background: #EEEEF0;
    cursor: pointer;
}

ul li ul {
    background: #f5f5f5;
    visibility: hidden;
  opacity: 0;
  min-width: 5rem;
    position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
    right: 20px;
  display: none;
  width: 120px;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
    clear: both;
  width: 100%;
}



.topBar {
  height: auto;
  background: #fafafa;
  font-size: 12px;
  border-bottom: 1px #eee solid;
  width: 100%;
  position: fixed;
  z-index: 999;
  padding: 0 !important;
  top: 0 !important;

}

.header {
  background: url(https://res.cloudinary.com/jard/image/upload/o_78/v1546717043/web-1012467_1280.jpg);
  background-size: cover  ;
  background-position: top center;
  min-height: 220px;
  text-align: center;
  color: #080808;
  font-size:36px;
  padding-top: 25px;
  font-family: roboto;
  

}

.infoBar {

  background: url(https://res.cloudinary.com/jard/image/upload/v1546634877/bg-img1.png) #fafafa; 
  background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.8; 
    min-height: 200px; 
    padding: 15px;
    text-align: center;

}

.contactBlock {

  padding: 15px; 
    background: url(https://res.cloudinary.com/jard/image/upload/c_scale,w_1200/v1546634879/tay.jpg);
    background-repeat: no-repeat; 
  background-size: cover ;
  opacity: 0.8; 
  color: #fefefe;
  min-height: 400px;
  color: #f5f5f5;
  text-align: center;
}

.footer {
  background: #37668E;
  color: #fdfdfd;
  position: absolute;
  width: 100%;
}

.block {
  background: #fdfdfd;


}


.box {
  padding: 0 !important;
}
.pt-15 {
padding-top: 15px;
}

.pNil {
  padding: 0;

}

.pd-15 {
  padding: 15px;
}

.img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border:0;

}

p {
  font-size: 17px;
}
</style>
    {{content-for "head-footer"}}
  </head>
  <body>
    <script type="text/javascript">
      console.log ("JavaScript is enabled!");
    </script>
    <noscript>
      <div style="border: 1px solid purple; padding: 10px">
        <span style="color:red">JavaScript is not enabled!</span>
      </div>
    </noscript>
    {{content-for "body"}}

    <script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/octo-app.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
