<noscript>
  <h2>Please enable JavaScript to view the site</h2>
</noscript>
{{#paper-toolbar as |toolbar|}}
   {{#toolbar.tools}}
     <a href="#home"><img src="https://res.cloudinary.com/jard/image/upload/c_scale,w_185/v1546634878/logo-dark.png" alt="JARD"></a>

     <span class="flex"></span>
    
    {{#paper-menu as |menu|}}
  {{#menu.trigger}}
    {{#paper-button iconButton=true accent=true}}
      {{paper-icon "reorder"}}
    {{/paper-button}}
  {{/menu.trigger}}
  {{#menu.content width=4 as |content|}}
    {{#each items as |item|}}
      {{#content.menu-item onClick="openSomething"}}
        {{paper-icon item.icon}}
        <span>{{item.title}}</span>
      {{/content.menu-item}}
    {{/each}}

<a href="#home">
    {{#content.menu-item onClick="openSomething"  disabled=false}}
      {{paper-icon "home"}}
      <span>Home</span>
    {{/content.menu-item}}
    </a>

<a href="#about">
    {{#content.menu-item onClick="openSomething" disabled=false}}
     {{paper-icon "account_circle"}}
      <span>Who Is JARD</span>
    {{/content.menu-item}}
    </a>
   
<a href="#services">
    {{#content.menu-item onClick="openSomething" disabled=false}}
      {{paper-icon "dashboard"}}
      <span>Services</span>
    {{/content.menu-item}}
    </a>
  
  <a href="https://behance.net/dyoungwd">
    {{#content.menu-item onClick="openSomething" disabled=false}}
      {{paper-icon "web"}}
      <span>Projects</span>
    {{/content.menu-item}}
    </a>

<a href="#contact">
    {{#content.menu-item onClick="openSomething" disabled=false}}
      {{paper-icon "contact_mail"}}
      <span>Contact</span>
    {{/content.menu-item}}
    </a>
   
    {{paper-divider}}

    {{#each items as |item|}}
      {{#content.menu-item onClick="openSomething"}}
        {{paper-icon item.icon}} {{item.title}}
      {{/content.menu-item}}
    {{/each}}
  {{/menu.content}}
{{/paper-menu}}
  
   {{/toolbar.tools}}
 {{/paper-toolbar}}



{{outlet}}

<div class="layout-row footer" style="height: 100px; background: #37668E; color: #090909; font-size: 19px;">
  <div class="flex text-center">
<h2>Developed With {{paper-icon "favorite"}} & EmberJS</h2>
<br>
<a href="https://bitbucket.org/dyoungwd"><img src="https://res.cloudinary.com/jard/image/upload/c_scale,w_35/v1546634876/icons8-bitbucket-100.svg"  alt="Bitbucket"></a>
<a href="https://behance.net/dyoungwd"><img src="https://res.cloudinary.com/jard/image/upload/c_scale,w_35/v1546634877/icons8-behance-100.svg"  alt="Behance"></a>
<a href="https://github.com/dyoungwd"><img src="https://res.cloudinary.com/jard/image/upload/c_scale,w_35/v1546634876/icons8-github-100.svg" alt="GitHub"></a>
<a href="https://twitter.com/dyoungwd"><img src="https://res.cloudinary.com/jard/image/upload/c_scale,w_35/v1546634877/icons8-twitter-100.svg" alt="Twitter"></a>
</div>
  </div>
