<div id="home" style="min-height: 400px; padding-top: 35px; font-size: 8.6vw; text-align: center;
	border-top: #eee 1px solid;
	background: url(https://res.cloudinary.com/jard/image/upload/v1546647445/homeBG2.jpg) #97AEBC;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fafafa;">
  <div class="layout-row layout-xs-column  ">
    <div class="flex">
      this is J<span style="color: #090909;">ARD</span>
        <br > 
     <span style="font-size: 4.3vw; color:#090909;">Web Development</span>

     <br>
     


     </div>
  
  </div></div>

 <div id="about" class="layout-row layout-xs-column ">
 
  <div class="flex p-10 "> 
    <h2>Who Is JARD ?</h2>
     <p>Based in Scotland, with over 10 years experience of web development, JARD provides freelance web development for individuals, charitable / community groups
      and small to medium business.</p>

    <p>Specialising in both apps and website development, JARD can work with you in order to create attractive, functional and client-manageable 
         apps / websites utilisin the latest methods and technology to meet your needs and specification.</p>

         <p>Feel free to contact JARD to discuss your requirments or for some free advice</p>

         
</div>

<div class="flex">
  <img src="https://res.cloudinary.com/jard/image/upload/fl_progressive:semi/v1546634878/service2.png" alt="screen" class="img-responsive" width="100%">
         </div>
 
</div>

<div class="layout-row bar">
  <div class="flex-grow text-center">

  <h2>Your website is the first point of contact your customer will make with your brand on business online</h2>
  <p>Make sure you mantain your competitive advantage and embrace the mobile web </p>

  </div>
  </div>

<div  class="layout-row layout-xs-column " style="background: #f5f5f5;">
  <div class="flex ">
  <img src="https://res.cloudinary.com/jard/image/upload/fl_progressive:semi/v1546634878/services.jpg" alt="screen" class="img-responsive" width="100%">
         </div>
  <div class="flex p-10" id="services"> 
    <h2>this is JARD</h2>
     <p>JARD provides comprehensive website design and development, web app development, content management systems and eCommerce.</p>
<p>There are many frameworks, content management systems out there, so JARD concentrates on only a select few
     depending on what is best suited to the client brief.</p>
     <p>The main content management systems used are October CMS and Joomla - which can provide everything from a simple blog
     to a fully functonal eCommerce system. For Web Apps - Ember, Angular and Vue are mainly used</p>  

  </div>
 
</div>


<div id="contact" class="layout-row layout-xs-column contactBox text-center" >
  <div class="flex ">
<h1>Contact JARD</h1>
<p>To contact Jard, please complete the contact form or direct via any of the methods below:</p>

<span style="font-size: 16px;"> {{paper-icon "email" primary=true}} Email: dev@jardwd.space |
 {{paper-icon "chat" primary=true}} Skype: jardwebdesign | {{paper-icon "call" primary=true}} Tel: 07935136508</span>



<form method="POST" action="https://formspree.io/dev@jardwd.space">

<div class="layout-row layout-xs-column contactForm flex">

    <div class="layout-column flex">
    <label>Name:<br>
      <input type="text" name="name" size="30" placeholder="Your name"></label>
    </div>
 </div>   

<div class="layout-row layout-xs-column contactForm flex">
   <div class="layout-column flex">
    <label>Email: <br>
     <input type="email" name="email" size="30" placeholder="Your email"></label>
   </div>
 </div>  

<div class="layout-row layout-xs-column contactForm flex ">
   <div class="layout-column flex">
    <label ">Message:<textarea name="message" rows="10" cols="60" placeholder="Message"></textarea></label>
   </div>
 </div>  


 <div class="layout-row  contactForm">
  <button type="submit" style="background: #37668E; width: 200px; color: #090909; font-size: 32px; ">Send </button>
 </div>
</form>

</div>
 
</div>
