<script type="text/javascript">
      console.log ("JavaScript is enabled!");
    </script>
    <noscript>
      <div style="border: 1px solid purple; padding: 10px">
        <span style="color:red">JavaScript is not enabled!</span>
      </div>
    </noscript>

<div id="top" class="row topBar">
    <div class="col-xs-4">
        <div class="box"><a href="#top"><img src="https://res.cloudinary.com/jard/image/upload/c_scale,w_200/v1546634878/logo-dark.png" alt="JARD"></a></div>
    </div>
     <div class="col-xs-offset-4 col-xs-4">
        <div class="box pt-15" style="float:right;">
<nav role="navigation">
  <ul>
  
    <li><a href="#"><i class="material-icons md-36">toc</i></a>
      <ul class="dropdown">
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="https://behance.net/dyoungwd">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </li>
    
  </ul>
</nav>
        </div>
    </div>
</div>


<div class="row header">
     <div class="col-xs-12">
     <div class="box pt-15">

       </div>
     </div>

</div>


<div id="about" class="row block">
     <div class="col-xs-12 col-md-6">
       <div class="box ">
<h2>Who Is JARD ?</h2>
     <p style="font-size: 19px;">Based in Scotland, with over 10 years experience of web development, JARD provides freelance web development for individuals, charitable / community groups
      and small to medium business.</p>

    <p style="font-size: 19px;">Specialising in both apps and website development, JARD can work with you in order to create attractive, functional and client-manageable 
         apps / websites utilising the latest methods and technology to meet your needs and specification.</p>

         <p style="font-size: 19px;">Feel free to contact JARD to discuss your requirments or for some free advice</p>
       </div>

     </div>

     <div class="col-xs-12 col-md-6">
       <div class="box pNil">
  <img src="https://res.cloudinary.com/jard/image/upload/fl_progressive:semi/v1546634878/service2.png" class="img-responsive" alt="screen" class="img-responsive" width="100%">
       
       </div>

     </div>
</div>    


<div id="services" class="row block">

 <div class="col-xs-12 col-md-6">
       <div class="box pNil">
  <img src="https://res.cloudinary.com/jard/image/upload/fl_progressive:semi/v1546634878/services.png" class="img-responsive" alt="screen" class="img-responsive" width="100%">
       
       </div>

     </div>

     <div class="col-xs-12 col-md-6">
       <div class="box ">
<h2>this is JARD</h2>
     <p style="font-size: 19px;">JARD provides comprehensive website design and development, web app development, content management systems and eCommerce.</p>
<p style="font-size: 19px;">There are many frameworks, content management systems out there, so JARD concentrates on only a select few
     depending on what is best suited to the client brief.</p>
     <p style="font-size: 19px;">The main content management systems used are October CMS and Joomla - which can provide everything from a simple blog
     to a fully functonal eCommerce system. For Web Apps - Ember, Angular and Vue are mainly used</p>  
       </div>
     </div>
  </div>  

<div class="row infoBar">
    <div class="col-xs-12">
       <div class="box">
          <h2>Your website is the first point of contact your customer will make with your brand on business online</h2>
  <p>Make sure you mantain your competitive advantage and embrace the mobile web </p>
       </div>

    </div>


</div>


<div id="contact" class="row ">
    <div class="col-xs-12 contactBlock">
       <div class="box">
          <h1>Contact JARD</h1>
<p>To contact Jard, please complete the contact form or direct via any of the methods below:</p>
<p>Email | Skype | Mobile</p>
       </div>

       <div class="box">
          <form method="POST" action="https://formspree.io/dev@jardwd.space">


    <div class="col-xs-12 pd-15 ">
     <label>Name: <br><input type="text" name="name" size="30" placeholder="Your name"></label>
    </div>
  

 <div class="col-xs-12 pd-15 ">
    <label>Email: <br> <input type="email" name="email" size="30" placeholder="Your email"></label>
   </div>
 


   
<div class="col-xs-12 pd-15 ">
    <label>message:<br> <textarea name="message" rows="10" cols="45" placeholder="Message"></textarea></label>
   </div>
 
 <div class="col-xs-12 pd-15 ">
  <button type="submit" style="background: #37668E; width: 200px; color: #090909; font-size: 32px; ">Send </button>
 </div>
</form>
       </div>

 </div>

 
</div>

 <div class="row footer">
    <div class="col-xs-12">
      <div class="box">
     <span style="font-size: 21px; padding: 10px; float:right;">Developed With Love & EmberJS</span>
       </div>
    </div>

  
 </div>   
{{outlet}}