// Define desired color palettes for each intention.
$primary: "blue-grey";
$accent: "teal";
$warn: "indigo";
@import 'ember-paper';

@font-face {
  font-family: 'Arvo';
  font-display: auto;
  src: local('Arvo'), url(https://fonts.gstatic.com/s/arvo/v9/rC7kKhY-eUDY-ucISTIf5PesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
}


.bar {
	background: url(https://res.cloudinary.com/jard/image/upload/v1546634877/bg-img1.png) #fafafa; 
	background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.8; 
    min-height: 200px; 
    padding: 25px;
}

.contactBox {
  padding: 15px; 
  background: url(https://res.cloudinary.com/jard/image/upload/c_scale,q_auto:eco,w_1800/v1546634879/tay.jpg);

	background-repeat: no-repeat; 
	background-size: 100% 100%; 
	opacity: 0.8; 
	color: #fefefe;
	}



.contactForm {
	padding: 15px;
	display: block;
}

md-toolbar {
    background: #F5F5F5 !important;
    color: #090909 !important;

}

md-grid-tile md-grid-tile-footer {
	background : #3F51B5 !important;
	color: #090909 !important;
}

.img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border:0;

}

.p-10 {
  padding: 10px;
  }


p {
	font-size: 19px !important;
	padding: 15px;
}

a {
	color: #6E6E6E;
	text-decoration: none;
}

a:hover {
color: #009688 !important;
	
}
.text-left {
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right {
  text-align: right;
}